.tile:hover,
.tile:active,
.tile.active,
.tile:focus,
.tile:active:focus,
.tile.active:focus {
  -webkit-box-shadow: 0px 25px 95px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 25px 95px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 25px 95px -5px rgba(0,0,0,0.75);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
  z-index: 1000;
}

.tile {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

img {
  width: 100%;
}

.landing-image {
  background: url('https://photos-2.dropbox.com/t/2/AAAMghAWTkXEATh3nZAywSLNsHjqH9XQQXcuLERRmUCAMQ/12/542838171/jpeg/32x32/1/_/1/2/pmg.jpg/EJjpiawEGKrhBSACKAI/9njM-OdhonYjHB9iJX5ZUFpj123lekt2tNHCP0E8wNk?size_mode=5') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
}

.fade-enter {
  left: 100px;
}

.fade-enter-active {
  left: 0px;
  transition: .9s ease-in all;
}
